*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.img{
    background-image: linear-gradient(90deg,yellow,green);
    height: 100vh;
    width: 100vw;
    border: 9px solid aqua;
    border-radius: 15px;
}
.img2{
    background-color: lime;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
    border: 9px solid aqua;   
}
.id{
    border-radius: 15px;
    border: 9px solid, aqua;
}
input{
    border-radius: 15px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color:white;
    border: 5px solid aqua;
    font-size: 34px;
    color: white;
    padding: 15px; 
    border-radius: 10px;
}
button :hover{
    background-color: aqua;
}