*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
    color: red;
    text-align: center;
}
h2{
    font-size: 40px;
    color: white;
    text-align: center;
}
#img2{
    border: 9px solid #04edf0;
       background-image: linear-gradient(90deg, yellow, green);
}  p{
    font-size: 50px;
    color: white;
    text-align: center;
}
h3{
    font-size: 50px;
    color: red;
    text-align: center;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 50vh;
    width: 50vw;
}